<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS</title>
</head>
<body>

<h1>Embebidos</h1>
<img id="imagen" src="/static/images/iot.png" alt="user">
<h1>obtencion de dato:</h><h id="Historial0">--</h1>
<h1>sensor1:</h><h id="Historial1">--</h1>
<h1>sensor2:</h><h id="Historial2">--</h1>
<h1>HISTORIALsensor1:</h><h id="Historial3">--</h1>
<h1>HISTORIALsensor2:</h><h id="Historial4">--</h1>
<button id = 'LED1On'type="button" onclick="historial_1(),historial_2();">
estado de sensor 1 y sensor 2 1</button>
<button id = 'LED1Off' type="button" onclick="historial_3();">
historial sensor 1 2</button>
<button id = 'LED1Off' type="button" onclick="historial_4();">
historial sensor 2 boton 3</button>


<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on");
  
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/
</script>
</body>
</html>
